/*
font-family: 'Carter One', cursive;
font-family: 'Lobster', cursive;
font-family: 'Orbitron', sans-serif;
*/



  @import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lobster&family=Orbitron:wght@400;500;600;900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p{
    font-family: Arial, sans-serif;
}

/* Title placement and decoration */
#title-container{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    
    
}
#title{
    position: relative;
    top: 36%;
    left: 14%;
    font-size: 220%;
    font-family: 'Orbitron', sans-seri;
}
#name{
    color: #06C4EF;
    font-family: 'Lobster', cursive;
    font-weight: 200;
    font-size: 2em;
}
#bio{
    display: flex;
    position: relative;
    top: 45%;
    left: 14%;
    width: 80%;
}
#bio p{
    position: relative;
    width: 60%;
    display: inline-block;
    
    border: rgba(0, 0, 0, 0.151) solid 2px;
    padding: 4% 3%;
    border-radius: 30px;
    margin-left: 5%;

    font-size: large;
    line-height: 1.5;
}

#bio img{
    display: block;
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    border: #06C4EF solid 2px;
}


/* Section decoration */
.triangle-right{
    
    width: 100%;
    height: 0;
    position: relative;
    top: 60%;
    
    /* Will use Javascript to adjust the size of this on resize */
    border-bottom:  12em solid #06C4EF;
    border-left: 10em solid transparent;
    
}
.left-triangle{
    width: 100%;
    height: 0;
    position: relative;
    top:61.5%;

    /* Will use Javascript to adjust the size of this on resize */
    border-top:  12em solid #06C4EF;
    border-right: 30em solid transparent;
}

/* Section decoration */
#skills{
    background-color: #06C4EF;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#skills-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#skills-list img{
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
    border: rgba(255, 255, 255, 0.534) solid 2px;
    padding: 0.25%;
    border-radius: 10%;
    margin: 0.5%;
    
}

#projects{
    margin: 2.5%;  
}
#projects h2{
    font-family: 'Orbitron', sans-seri;
}


.card{
    display: flex;
    flex-direction: row;
    border-bottom: solid rgba(0, 0, 0, 0.5) 2px;
    align-items: center;
}
.card h3{
    font-family: 'Orbitron', sans-seri;
}
.card div:first-child{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 2.5% 5%;
    
}
.card div:first-child h3{
    margin-bottom: 2%;
}
.card div:first-child p{
    border: rgba(0, 0, 0, 0.151) solid 2px;
    padding: 4% 3%;
    border-radius: 30px;
    margin-left: 5%;
    font-size: medium;
    line-height: 1.5;
}
.card div:first-child ul{
    margin-left: 7.5%;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    flex-wrap: wrap;

}
.card div:first-child ul li{
    
    margin: 1.5% 2% 0 2%;
    background-color: #06C4EF;
    padding: 2% 5%;
    border-radius: 10px;
} 
.iframe-wrapper{
    width: 45%;
    margin: 2%;
    position: relative;
    overflow: hidden;
    
}
.iframe-wrapper iframe{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.links{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-self: end;
}
.links a img{
    width: 100%;
}
.links a{
    text-align: center;
    color: black;
    margin-bottom: 10%;
}



footer .triangle-right{
    z-index: -1;
    position: relative;
    top: -10em; 
    margin-bottom: -10em;   
}
#email-container{
    position: relative;
    background-color: #06C4EF;
    margin-bottom: -10em;
}
#contact{
    text-align: center;
    padding: 2em;
}
.button-38 {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .25rem .5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 1rem;
  }
  
  .button-38:hover {
    background-color: rgb(249,250,251);
  }
  
  .button-38:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .button-38:focus-visible {
    box-shadow: none;
  }

 

  @media only screen and (max-width: 600px){
    #title{
        font-size: 1.25em;
        top: 10%;
        left: 5%;
        width:90%;
    }
    #bio{
        top: 15%;
        left: 0;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    #bio img{
        display: none;
    }
    #bio p{
        width: 80%;
        font-size: medium;
        margin: 0;
    }
    
    .card{
        flex-direction: column;
        padding-bottom: 1em;
        margin-bottom: 4em;
    }
    .card div:first-child {
        width: 90%;
        margin-bottom: 5%;
    }
    .card div:first-child p{
        margin-left: 0;
    }

    .iframe-wrapper{
        width: 90%;
    }

    .links{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-self: start;
    }
    .links a img{
        height: 3em;
    }
    .links a{
        margin-left: 1em;
        text-align: center;
        color: black;
        margin-bottom: 10%;
    }

   
  }
